:root {
    --body-color: #F9FAFB;
    --primary-color-hover: #1B2838;
    --primary-color: #1E3A8A;
    --secondary-color: #cbb26a;
    --secondary-color-hover: #FDE68A;
    --text-color: #F9FAFB;
    --alt-text-color: #333333;
    --alt-button-color: #E5E7EB;
    --alt-button-color-hover: #c1c2c4;
    --active-page-color: #00C3FF;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    --sections-header-color: #2C3E50;
    --icon-color: #3A497C;
    --del-button-color: #D00000;
    --edit-button-color: #1E293B;
}

/* Header */

* {
    font-family: "Archivo", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #cbb26a;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.header-container a {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header-container .logo {
    width: auto;
    object-fit: contain;
    display: block;
    max-height: 55px;
    margin-right: 1rem;
}

.header-title {
    font-size: clamp(1em, 5vw, 1.5em);
    margin-right: 30px;
    font-weight: bold;
    color: #cbb26a;
}

.nav-list {
    display: flex;
}

.nav-list a {
    padding: 10px;
    margin-right: 15px;
    color: #cbb26a;
}

.nav-list li:last-child {
    display: none;
}

.nav-list a:hover {
    cursor: pointer;
    border-bottom: 3px solid #cbb26a;
}

.active a {
    font-weight: bold;
    border-bottom: 3px solid #cbb26a;
}

.header-container button {
    margin-left: 15px;
    padding: 7px 30px;
    display: flex;
    align-items: center;
    border: 2px solid #cbb26a;
    outline: none;
    background-color: #cbb26a;
    color: black;
    border-radius: 16px;
    font-weight: bold;
}

.header-container button:hover {
    background-color: black;
    color: #cbb26a;
    cursor: pointer;
}

.header-container button .bi {
    margin-right: 10px;
    font-size: 1.5em;
}

.menu-toggle {
    display: none;
}

#theme-toggle {
    padding: 6px 18px;
    color: var(--secondary-color);
    background-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary-color);
    margin-left: auto;
}

#theme-toggle:hover {
    background-color: var(--secondary-color);
    color: black;
    transform: scale(1.05);
}

#theme-toggle i {
    font-size: 1.2rem;
}

/* Hero */

.hero,
.efficiency-hub {
    text-align: center;
}

.hero-title {
    color: #cbb26a;
    text-align: center;
    font-size: 5em;
    font-family: "Archivo", serif;
}

.hero-subheader {
    color: #cbb26a;
    font-family: "Inter", serif;
    font-size: 1.6em;
    margin-top: 3.5rem;
    letter-spacing: 1px;
}

.trial {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trial button {
    font-size: 1.4rem;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.trial button:hover {
    cursor: pointer;
}

.trial .chat {
    background-color: #cbb26a;
    color: black;
    border: 2px solid #cbb26a;
}

.trial .chat:hover {
    color: #cbb26a;
    background-color: black;
}

.trial .demo {
    background-color: transparent;
    color: var(--text-color);
    padding: 0.8rem 1.2rem;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 2px solid rgba(249, 250, 251, 0.8);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.trial .demo:hover {
    color: black;
    background-color: #cbb26a;
}

.hero .slider-wrapper {
    max-height: 40rem;
}

.hero .slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.hero .slide img {
    object-fit: cover;
    border-radius: 0;
}

.hero .slider #next,
.hero .slider #prev {
    font-size: 2.7rem;
    transition: transform 0.3s ease;
}

.hero .slider #prev:hover,
.hero .slider #next:hover {
    color: var(--secondary-color);
    transform: translateY(-50%) scale(1.1);
}

.dots {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
}

.slider-dot {
    cursor: pointer;
    height: clamp(6px, 1vw, 10px);
    width: clamp(14px, 2.5vw, 30px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dot-active,
.slider-dot:hover {
    background-color: var(--secondary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease, background-color 0.6s ease;
}

.slide .content3 {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    font-size: clamp(1.5rem, 5vw, 3.3rem);
    color: var(--text-color);
    border-radius: 16px;
    text-align: center;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.7);
    z-index: 2;
    width: 100%;
}

.demo-header {
    background-color: var(--secondary-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: var(--box-shadow);
    border: none;
}

.demo-header h1 {
    color: black;
}

.demo-header .fa-solid {
    color: black;
}

.demo-popup {
    background-color: #23272A;
    border-radius: 17px;
}

.demo-content {
    padding: 30px;
}

#demo-form input {
    padding: 1rem;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #3A3F47;
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.form-half {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#demo-form #demo-submit {
    margin-bottom: 0;
    background-color: var(--secondary-color);
    color: #23272A;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: bold;
    border: none;
}

#demo-form #demo-submit:hover {
    background-color: var(--secondary-color-hover);
    transform: scale(1.05);
}

.demo-content p {
    color: var(--secondary-color-hover);
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;
}

.error-phone,
.error-email,
.error-name {
    color: #FF4D4D;
    margin-bottom: 1rem;
    display: none;
    text-align: left;
}

/* vod */
.vod {
    text-align: center;
    border: 4px solid #cbb26a;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 20px;
    position: relative;
}

.vod video {
    width: 100%;
    border-radius: 20px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.play-btn:hover {
    opacity: 1;
}

.hide {
    display: none;
}

/* efficiency hub */

.efficiency-hub {
    margin-top: 3rem;
}

.efficiency-hub,
.vacancies {
    width: 100%;
    padding: 0 5rem;
}

.hub-title {
    color: #cbb26a;
    text-align: center;
    font-weight: bold;
    font-size: 2.7em;
    font-family: "Archivo", serif;
}

.hub-subheader {
    color: #cbb26a;
    font-family: "Inter", serif;
    text-align: center;
    font-size: 1.4em;
    margin-top: 2rem;
    letter-spacing: 1px;
}

.hub-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

.grid-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 10%;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color);
}

.grid-item:hover .item-title,
.grid-item:hover .item-list {
    color: black;
}

.grid-image {
    height: 100%;
    max-width: 40%;
    overflow: hidden;
    border-radius: 16px;
}

.item-content {
    flex: 1 1 50%;
    max-width: 40%;
}

.grid-item img {
    height: 100%;
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
    object-fit: cover;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.item-content {
    text-align: left;
}

.item-title,
.item-list {
    color: #cbb26a;
}

.item-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.item-list {
    list-style: disc;
    text-align: left;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.item-list li {
    margin-bottom: 2rem;
    width: 80%;
}

.try-btn {
    padding: 12px 25px;
    background-color: transparent;
    color: var(--secondary-color);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 1rem;
    transition: all .3s ease;
    outline: none;
    border: 2px solid var(--secondary-color);
}

.grid-item:hover .try-btn {
    border-color: black;
    color: black;
}

.try-btn:hover {
    background-color: black;
    color: var(--text-color) !important;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Vacancies */

.vacancies {
    padding: 1rem;
}

.jobs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: clamp(1rem, 5vw, 4rem) 1rem;
}

.job-item {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.15);
    background-color: black;
}

.job-item img {
    width: 45%;
    border-radius: 12px;
    display: block;
    height: auto;
}

.job-details {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.job-title {
    color: #cbb26a;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Archivo", serif;
}

.job-description {
    font-family: "Inter", serif;
    font-size: 1rem;
    line-height: 1.6;
    max-height: 320px;
    overflow-y: auto;
    padding-right: 10px;
}

.job-description ul {
    padding-left: 1.2rem;
}

.job-description li {
    margin-bottom: 1rem;
    list-style: disc;
}

.apply-btn {
    width: fit-content;
    margin-top: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: #cbb26a;
    background-color: black;
    font-weight: bold;
}

.apply-btn:hover {
    cursor: pointer;
    background-color: #cbb26a;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}