@import url('https://fonts.googleapis.com/css2?family=FIVER-MULTLINE&display=swap');

* {
    box-sizing: border-box;
    font-family: 'FIVER-MULTLINE', sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

.content-warpper {
    display: block;
}

.main-container {
    background-color: black;
    color: #cbb26a;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

.countdown {
    font-size: 2rem;
    margin: 10px 0;
}

.careers {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(203, 178, 106, 0.1);
    border-radius: 10px;
    width: 90%;
    text-align: left;
}

.job-listing {
    padding: 20px;
    background-color: rgba(203, 178, 106, 0.1);
    border-radius: 10px;
    margin: 10px;
}

.apply-button {
    background-color: black;
    /* Replace with your page's background color */
    font-size: 1rem;
    border-color: #cbb26a;
    border-radius: 2px;
    padding: 5px 10px;
    color: #cbb26a;
    /* Adjust padding as needed */
    text-align: center;
    margin: 4px 2px;
    transition-duration: 0.4s;
}


.careers h2 {
    color: #cbb26a;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.careers p {
    text-align: left;
}

.careers a {
    color: #cbb26a;
    text-decoration: none;
    font-weight: bold;
}

/* Chatbot section */

.chatbot {
    width: 25%;
    background-color: black;
    border: 3px solid #cbb26a;
    border-radius: 16px;
    margin: 15px;
    margin-left: 0;
    padding: 10px;
    position: fixed;
    top: 19%;
    right: 0%;
    height: fit-content;
    visibility: hidden;
    z-index: 2;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #cbb26a;
    text-align: center;
    border-bottom: 1px solid #cbb26a;
    margin-bottom: 5px;
}

.chat-header h2 {
    margin: 10px;
    margin-left: 30px;
    flex: 1;
}

.chat-header .fa-solid {
    font-size: 1.3rem;
    margin-right: 4px;
}

#messages {
    border: 1px solid #616060;
    border-radius: 16px;
    height: 500px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

.input-field {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cbb26a;
    padding: 5px;
    border-radius: 16px;
    margin-top: 10px;
    color: #cbb26a;
}

#input-form {
    flex: 1;
    margin-right: 15px;
}

#user-input {
    border: none;
    outline: none;
    padding: 0;
    padding-left: 10px;
    padding-top: 8px;
    height: 0;
    background-color: transparent;
    color: #cbb26a;
    font-size: 1rem;
    width: 100%;
}

#submit-btn {
    padding: 10px;
    background-color: transparent;
    color: black;
    background-color: #cbb26a;
    border-radius: 50%;
}

#submit-btn:hover {
    cursor: pointer;
    background-color: #c9b884;
}

.message {
    color: #000;
    background-color: #cbb26a;
    padding: 15px;
    width: fit-content;
    max-width: 75%;
    font-size: .9rem;
    display: block;
    border-radius: 16px;
    margin-bottom: 15px;
    word-break: break-word;
}

.sent {
    margin-left: auto;
    background-color: #D9D9D9;
}

#call-btn {
    padding: 10px;
    border-radius: 50%;
}

#call-btn:hover {
    cursor: pointer;
    background-color: #cbb26a;
    color: black;
}

.call-active {
    background-color: #cbb26a;
    color: black;
}

#attach-btn,
#bin-btn {
    margin-right: 5px;
    background-color: transparent;
    color: #cbb26a;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #cbb26a;
}

#attach-btn:hover,
#bin-btn:hover {
    cursor: pointer;
    background-color: #cbb26a;
    color: black;
}

#file-field {
    display: none;
}

.phone-field {
    position: absolute;
    top: 5px;
    right: 70px;
    width: 240px;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cbb26a;
    transition: display 0.3s ease-in-out;
    display: none;
}

.phone-field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    background: transparent;
    color: #cbb26a;
}

.phone-field .fa-solid {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
}

.phone-field .fa-phone:hover {
    background-color: #fff;
    color: #015f11;
}

.phone-field .fa-circle-xmark:hover {
    background-color: #fff;
    color: #ac0e03;
}

.phone-field.active {
    display: flex;
}

#facebook-btn {
    font-size: 24px;
    padding: 10px 12px;
    margin-left: 5px;
}

#facebook-btn:hover {
    cursor: pointer;
    background-color: #cbb26a;
    color: black;
    border-radius: 50%;
}

#popup {
    position: fixed;
    bottom: 1%;
    right: -1.3%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: black;
    padding: 1rem;
    border-radius: 50%;
    background-color: #cbb26a;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    z-index: 10;
}

#popup:hover {
    cursor: pointer;
    background-color: black;
    color: #cbb26a;
}

.chat-active {
    visibility: visible;
}

/* Facebook Upload Overlay */

.upload-overlay,
.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.fb-upload,
.gallery-content {
    background: #cbb26a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    position: relative;
    min-height: min-content;
}

.upload-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 30px;
    border-bottom: 1px solid #cbb26a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
}

.upload-header h1 {
    flex: 1;
    font-size: 24px;
    text-align: left;
    margin: 0;
    color: black;
}

.upload-header .fa-solid {
    font-size: 30px;
    color: black;
}

.upload-header .fa-solid:hover {
    color: #5e5c5c;
    cursor: pointer;
}

.upload-data {
    padding: 15px;
    background-color: #fff;
}

#upload-form {
    display: flex;
    flex-wrap: wrap;
}

#upload-form input {
    width: 100%;
    margin-bottom: 15px;
}

#upload-form textarea,
#user-input {
    resize: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

#post-btn {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #cbb26a;
    border-radius: 16px;
}

#post-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #cbb26a;
}

#post-photo {
    display: none;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cbb26a;
    border-radius: 16px;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
}

.photo-preview {
    margin-bottom: 15px;
}

.photo-preview img,
.chat-preview img {
    border-radius: 16px;
    object-fit: contain;
    height: auto;
    width: 100%;
    display: block;
}

.chat-preview img {
    margin-top: 10px;
}

/* Chat Engine List */

.chat-engine {
    color: #cbb26a;
    display: inline-block;
    position: relative;
}

.current-engine {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #cbb26a;
    border-radius: 10px;
}

.current-engine .fa-solid {
    font-size: 20px;
    margin-right: 5px;
}

.engine-name {
    font-weight: bold;
    font-size: 14px;
}

.current-engine:hover {
    color: #000;
    background-color: #cbb26a;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    background: #cbb26a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 180px;
    z-index: 10;
    border-radius: 10px;
    padding: 15px 0;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    padding: 10px;
    color: black;
    font-weight: bold;
}

.dropdown ul li:hover {
    background: black;
    color: #cbb26a;
    cursor: pointer;
}

.engine-list-active {
    color: #000;
    background-color: #cbb26a;
    cursor: pointer;
}

/* Images In Chat */

.images {
    display: flex;
    overflow: hidden;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;
    gap: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.chat-image {
    flex-shrink: 0;
    width: 90%;
    padding: 3px;
    border-radius: 10px;
    cursor: grab;
}

.chat-image:hover {
    cursor: pointer;
    background-color: #cbb26a;
    border-radius: 10px;
    opacity: .8;
}

.chat-image img,
.img-message img {
    object-fit: fill;
    display: block;
    height: 180px;
    width: 100%;
    border-radius: 10px;
}

.image-active {
    cursor: grabbing;
}

.images .property-details {
    padding-left: 1rem;
    background-color: #cbb26a;
    color: #000;
}

.images .property-details:hover {
    color: #000;
}

.images .property-details h2 {
    color: gold;
    text-align: center;
    margin: 5px 0;
}

.images .property-details p {
    font-size: 14px;
    margin: 5px 0;
}

.images .hidden-details {
    display: none;
}

.img-message {
    max-width: 100%;
    background-color: #cbb26a;
    border-radius: 10px;
    padding: 5px;
}

.img-message img {
    margin-bottom: 0;
    height: auto;
}

.img-message-sent img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.gallery-content {
    width: 85%;
}

.slider {
    margin: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    display: block;
    position: relative;
}

.slide img {
    display: block;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: fill;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slide .property-details {
    height: 100%;
    background-color: #000;
    color: gold;
    font-size: clamp(.7rem, 2vw, 1rem);
    padding: clamp(.6rem, 10vw, 6rem);
}

#prev,
#next {
    position: absolute;
    font-size: clamp(26px, 5vw, 50px);
    top: 50%;
    color: #f0f0f0;
    padding: 20px;
    transform: translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#next,
.bi-hand-thumbs-down,
.bi-hand-thumbs-down-fill {
    right: 0;
}

#prev:hover,
#next:hover {
    color: #fff;
    cursor: pointer;
    font-size: clamp(30px, 5vw, 54px);
}

.slider .bi {
    position: absolute;
    font-size: clamp(26px, 5vw, 35px);
    top: 10%;
    color: #cbb26a;
    padding: 20px;
    transform: translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.slider .bi:hover {
    cursor: pointer;
    font-size: clamp(30px, 5vw, 40px);
}

.slider .content {
    position: absolute;
    top: 80%;
    font-size: clamp(8px, 3vw, 35px);
    color: #fff;
    padding: clamp(2px, 2vw, 15px);
    transform: translateY(-50%);
    background-color: #00000091;
    width: 100%;
}

.slider .content p {
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin-left: 30px;
}

.typing-indicator {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #555;
    border-radius: 50%;
    opacity: 0.3;
    animation: blink 1.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}