/* Media queries */

@media (min-width: 1201px) {
    .nav-list {
        display: flex !important;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    .header-container {
        justify-content: space-between;
    }

    .header-container .sign-in-btn,
    .header-container #signup {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        padding: 10px 0;
        background-color: #2e2e2eec;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        z-index: 10;
    }

    .nav-list a {
        width: fit-content;
        margin: auto;
        margin-bottom: 15px;
    }

    .nav-list li:last-child,
    .nav-list li:nth-child(4) {
        display: block;
    }

    .nav-list button {
        display: flex;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list li:last-child:hover {
        border: none;
    }

    .nav-list.show {
        display: flex;
    }

    .sign-in-sm button, .sign-in-sm a,
    .sign-up-sm button, .sign-up-sm a {
        margin-bottom: 0;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #cbb26a;
        font-size: 2.5rem;
        margin-left: 10px;
        z-index: 10;
    }

    .hero-title {
        font-size: 2.5em;
    }

    .trial {
        gap: 2rem;
        flex-direction: row;
        width: 100%;
        top: 70%;
    }

    .trial .chat,
    .trial .demo {
        font-size: .8rem;
        padding: 10px;
    }

    .hub-grid {
        margin: 0;
    }

    .hub-subheader {
        margin-bottom: 1rem;
    }

    .grid-image {
        margin-bottom: 1rem;
        order: -1;
    }

    .item-title {
        font-size: 2rem;
    }

    .item-content {
        margin-left: 15px;
    }

    #ai-video {
        width: 99%;
    }

    .efficiency-hub {
        padding: 10px;
        padding: 2rem 10px;
    }

    .item-list li {
        width: 90%;
    }

    .main-container {
        display: none;
    }

    .chatbot {
        width: 95%;
        top: 21%;
        right: 2.5%;
        margin: 0;
        max-height: 72vh;
    }

    #messages {
        height: 56vh;
    }

    .chat-header h2 {
        font-size: 20px;
    }

    .chat-header .fa-solid {
        font-size: 19px;
    }

    #facebook-btn {
        font-size: 22px;
    }

    .fb-upload {
        width: fit-content;
    }

    .phone-field {
        top: 9px;
        padding: 6px;
    }

    .gallery-content {
        width: 90%;
    }
   
    .slide img {
        min-height: 31vh;
    }

    .hero {
        width: 100%;
    }

    .hero .slide .content3 {
        width: 100%;
    }

    .vod-container {
        width: 100%;
    }

    .grid-item {
        padding: 10px;
        text-align: center;
        gap: 1rem;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 2%;
    }

    .grid-image,
    .item-content {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .vacancies {
        padding: 1rem;
    }

    .jobs-grid {
        margin: 1rem;
    }

    .job-item {
        flex-direction: column-reverse;
    }

    .job-item img {
        width: 100%;
        height: 250px;
    }

    .job-details {
        width: 100%;
        flex: 1;
    }

    .demo-popup {
        width: 100%;
    }

    .form-half {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 1100px) {
    .vacancies {
        padding: 1rem;
    }

    .jobs-grid {
        overflow: hidden;
        display: flex;
        overflow-x: auto;
        margin: 0;
        scrollbar-width: none;
    }

    .job-item {
        flex-shrink: 0;
        width: 100%;
    }

    .job-title {
        font-size: 1rem;
    }

    .job-description {
        font-size: .8rem;
    }

    .slider-wrapper {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .slider .property-details {
        width: 150px;
        padding: 0;
        padding-left: 5px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .slider .property-details h2 {
        margin: 5px 0;
    }

    .slider .property-details p {
        margin: 0;
        margin-bottom: 8px;
    }

    .hero .dots {
        display: none;
    }

    .details-btn {
        font-size: .8em;
        padding: .5rem;
        top: 26%;
    }

    .details-btn .bi {
        font-size: 1.1rem;
    }

    .arrange-btn {
        font-size: 1em;
        padding: 1rem;
        top: 75%;
    }
}


@media (max-width: 400px) {
    .chatbot {
        top: 7%;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .slider .property-details {
        width: 300px;
    }
}