/* Media queries */

@media (max-width: 1200px) {
    .header-container {
        justify-content: space-between;
    }

    .header-container button {
        padding: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-list li {
        width: fit-content;
        margin: auto;
    }

    .nav-list button {
        display: block;
        width: 0%;
        margin: auto;
        text-align: center;
    }

    .nav-list.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #cbb26a;
        font-size: 2.5rem;
        margin-left: 10px;
    }

    .hero-title {
        font-size: 2.5em;
    }

    .trial button {
        font-size: 1em;
        padding: 15px;
    }

    .hub-grid {
        margin: 0;
    }

    .hub-subheader {
        margin-bottom: 1rem;
    }

    .grid-item:first-child {
        flex-direction: column-reverse;
    }

    .grid-item img {
        margin-bottom: 1rem;
    }

    .item-title {
        font-size: 2rem;
    }

    .item-content {
        margin-left: 15px;
    }

    #ai-video {
        width: 99%;
    }

    .efficiency-hub {
        padding: 10px;
        margin-top: 2rem;
    }

    .item-list li {
        width: 90%;
    }

    .main-container {
        display: none;
    }

    .chatbot {
        width: 95%;
        top: 10%;
        right: 2.5%;
        margin: 0;
    }

    #messages {
        height: 60vh;
    }

    .chat-header h2 {
        font-size: 20px;
    }

    .chat-header .fa-solid {
        font-size: 19px;
    }

    #facebook-btn {
        font-size: 22px;
    }

    .fb-upload {
        width: fit-content;
    }

    .phone-field {
        top: 9px;
        padding: 6px;
    }

    .gallery-content {
        width: 90%;
    }
   
    .slide img {
        min-height: 31vh;
    }

    .hero {
        width: 100%;
    }

    .grid-item {
        padding: 0;
        flex-direction: column;
        text-align: center;
    }

    .vacancies {
        padding: 1rem;
    }

    .jobs-grid {
        margin: 1rem;
    }
}

@media (max-width: 1100px) {
    .vacancies {
        padding: 1rem;
    }

    .jobs-grid {
        overflow: hidden;
        display: flex;
        overflow-x: auto;
        margin: 0;
        scrollbar-width: none;
    }

    .job-item {
        flex-shrink: 0;
        width: 100%;
    }

    .job-title {
        font-size: 1rem;
    }

    .job-description {
        font-size: .8rem;
    }
}


@media (max-height: 1100px) {
    .chatbot {
        top: 1%;
    }
}