/* Media queries */

@media (max-width: 1380px) {
    .overview {
        flex-direction: column;
    }

    .main-container {
        width: 100%;
    }

    .chart {
        max-width: 100%;
        width: 100%;
    }

    .chart-container {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-height: 400px;
        align-items: center;
    }
}

@media (min-width: 1201px) {
    .nav-list {
        display: flex !important;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    .header-container {
        justify-content: space-between;
    }

    .header-container .sign-in-btn {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        padding: 10px 0;
        background-color: #2e2e2eec;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;
    }

    .nav-list a {
        width: fit-content;
        margin: auto;
        margin-bottom: 15px;
    }

    .nav-list li:last-child {
        display: block;
    }

    .nav-list button {
        display: flex;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list li:last-child:hover {
        border: none;
    }

    .nav-list.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--secondary-color);
        font-size: 2.5rem;
        margin-left: 10px;
    }

    .filters,
    .overview,
    .data {
        padding: 0 1rem;
    }

    .filters-container {
        flex-direction: column;
        padding-left: 0;
    }

    .overview {
        flex-direction: column;
        width: 100%;
    }

    .overview-container {
        overflow-x: auto;
    }

    .sheet {
        padding: 0;
    }

    .overview-titles {
        min-width: max-content;
        flex-shrink: 0;
    }

    .overview-titles li:first-child {
        margin-right: 3.5rem;
    }

    .overview-titles li:nth-child(2) {
        margin-right: 3rem;
    }

    .overview-titles li:nth-child(5) {
        text-align: left;
    }

    .overview-titles li:last-child {
        padding-right: 2rem;
        padding-left: 4.8rem;
    }

    .overview-titles li,
    .data-titles li {
        flex-shrink: 0;
        min-width: max-content;
    }

    .data-titles li {
        margin-right: 0;
    }

    .main-container {
        width: 100%;
    }

    .client {
        min-width: max-content;
    }

    .client li {
        flex-shrink: 0;
        margin-right: 3.5rem;
    }

    .client .client-name {
        max-width: 13.5ch;
    }

    .chat-history {
        width: 90%;
    }

    .chart {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        width: 100%;
    }

    .req-profile {
        width: 96%;
    }

    .user-info {
        flex-direction: column;
    }

    .data-titles {
        flex-direction: column;
    }

    .data-titles li {
        display: block;
        text-align: center;
    }

    .data-container {
        width: 100%;
    }

    .data-content {
        padding: .5rem;
    }

    .add-btn {
        margin: auto;
        margin-top: 1rem;
    }

    .unit-header {
        flex-direction: column;
    }

    .unit-name {
        margin-bottom: 1rem;
    }

    .units-list li {
        padding: .5rem;
    }

    .slider .property-details {
        width: 35%;
        padding: 10px;
    }

    .data-title {
        font-size: 1.2rem;
        padding: .8rem 1rem;
    }

    .slider-wrapper {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .edit-popup {
        width: 100%;
    }

    .chat-image {
        width: 35%;
    }

    .edit-details li {
        margin: 0;
    }

    .alert {
        width: 80%;
    }

    .whats-msg {
        margin: auto;
    }
}