/* Media queries */

@media (max-width: 1380px) {
    .overview {
        flex-direction: column;
    }

    .main-container {
        width: 100%;
    }

    .chart {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1201px) {
    .nav-list {
        display: flex !important;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    .header-container {
        justify-content: space-between;
    }

    .header-container .sign-in-btn,
    .header-container #signup {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        padding: 10px 0;
        background-color: #2e2e2eec;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        z-index: 1;
    }

    .nav-list a {
        width: fit-content;
        margin: auto;
        margin-bottom: 15px;
    }

    .nav-list li:last-child,
    .nav-list li:nth-child(4) {
        display: block;
    }

    .nav-list button {
        display: flex;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list li:last-child:hover {
        border: none;
    }

    .nav-list.show {
        display: flex;
    }

    .sign-in-sm button, .sign-in-sm a,
    .sign-up-sm button, .sign-up-sm a {
        margin-bottom: 0;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--secondary-color);
        font-size: 2.5rem;
        margin-left: 10px;
    }

    .filters,
    .overview,
    .data {
        padding: 0 1rem;
    }

    .filters {
        flex-direction: column;
        gap: 20px;
    }

    .filters-drop {
        margin: auto;
        width: 220px;
    }

    .leads-drop {
        margin: auto;
    }

    .overview {
        flex-direction: column;
        width: 100%;
    }

    .overview-container {
        overflow-x: auto;
    }

    .sheet {
        padding: 0;
    }

    .overview-titles {
        min-width: max-content;
        flex-shrink: 0;
    }

    .overview-titles li {
        flex-shrink: 0;
        min-width: 11.5rem;
    }

    .data-titles li {
        margin-right: 0;
    }

    .data-tabs {
        padding: 0;
    }

    .main-container {
        width: 100%;
    }

    .client, .skeleton {
        min-width: max-content;
    }

    .client li {
        flex-shrink: 0;
        min-width: 11rem;
    }

    .client .client-name {
        max-width: 17ch;
    }

    .chat-overlay,
    .req-overlay,
    .edit-overlay {
        padding: 0;
    }

    .chat-history {
        width: 100%;
    }

    .chart {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        width: 100%;
    }

    .req-profile {
        width: 96%;
    }

    .user-info {
        flex-direction: column;
    }

    .data-titles {
        flex-direction: column;
    }

    .data-titles li {
        display: block;
        text-align: center;
    }

    .data-container {
        width: 100%;
    }

    .data-content {
        padding: .5rem;
    }

    .unit-header {
        flex-direction: column;
    }

    .unit-name {
        margin-bottom: 1rem;
    }

    .units-list li {
        padding: .5rem;
    }

    .slider .property-details {
        width: 35%;
        padding: 10px;
    }

    .data-title {
        font-size: 1.2rem;
        padding: .8rem 1rem;
    }

    .slider-wrapper {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .edit-popup {
        width: 100%;
    }

    .chat-image {
        width: 35%;
    }

    .edit-details li {
        margin: 0;
    }

    .alert {
        width: 80%;
    }

    .whats-msg {
        margin: auto;
    }

    .skeleton-box.name {
        width: 15ch;
    }
    
    .skeleton-box.date {
        width: 12ch;
        margin-left: 1rem;
    }
    
    .skeleton-box.requirements {
        width: 10ch;
        margin-left: 1rem;
        border: none;
    }
    
    .skeleton-box.messages {
        width: 8ch;
        margin-left: 1rem;
    }
    
    .skeleton-box.action {
        width: 10ch;
        margin-left: 1rem;
    }

    .skeleton-data {
        width: 100%;
    }

    .units-drop {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .filters-drop .dropdown {
        width: 220px;
    }

    .units-drop .dropdown {
        width: 100%;
    }

    .add-btn, .import-btn {
        width: 180px;
        justify-content: center;
    }

    .add-units {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem
    }

    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab-btn {
        flex: 0 0 auto;
        width: 150px;
        justify-content: center;
    }
}